body {
  background-image: url("../media/img/pokedex.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  padding: 25px;
}

.body_pokemon {
  background-image: none;
}
